
  <!--Footer-->
    <footer id="_footer" class="page-footer font-small stylish-color-dark pt-4 mt-4">
      <!--Footer Links-->
      <div class="container text-center text-md-left">

        <!-- Footer links-->
        <div class="row text-center text-md-left mt-3 pb-3">

          <!--First column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="lead text-uppercase mb-4 font-weight-bold"><span class="text-secondary"> Elevete Solutions</span> <br> <span class="text-info">Limited</span></h6>
            <p class="lead"><small >Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small></p>
          </div>
          <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p><a href="#!">Tenders</a></p>
            <p><a href="#!">Auditory Plans</a></p>
            <p><a href="#!">Clothes</a></p>
            <p><a href="#!">Laptops & Computers</a></p>
            <p><a href="#!">Websites</a></p>
          </div>
          <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

          <!--Third column-->
          <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Utility links</h6>
            <p><a href="/userAccounts">Your Account</a></p>
            <p><a href="#!">Become an Affiliate</a></p>
            <p><a href="#!">Shipping Rates</a></p>
            <p><a href="#!">FAQ's</a></p>
            <p><a href="/shop"><i class="fas fa-shopping-cart"></i> Shop</a></p>
          </div>
          <!--/.Third column-->

            <hr class="w-100 clearfix d-md-none">

          <!--Fourth column-->
          <div class="col-md-4 col-lg-2 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fa fa-home"></i> Mpaka Plaza, 3rd Flr |Mpaka Road Nairobi,KE </dp>
            <p><i class="fa fa-envelope"></i> P.O Box 43121 00100 </p>
            <p><i class="fa fa-envelope"></i> info@elevetesolutions.com</p>
            <p><i class="fa fa-phone"></i> +254 731 727 568</p>
            <p><i class="fa fa-print"></i> +254 721 862 780 | +254 722 <span class="ml-2">886 961 | +254 726 448 025 </span> </p>
          </div>
          <!--/.Fourth column-->

        </div>
        <!--/Footer links-->

        <hr>

        <!-- Social media buttons -->
        <div class="footer text-center scmd mt-3 mb-3">
            <ul class="list-unstyled list-inline">
                <li  class="list-inline-item pr-2"><a><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item pr-2 pl-2"><a><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item pr-2 pl-2"><a><i class="fab fa-google-plus-g"></i></a></li>
                <li class="list-inline-item pl-2"><a href="https://www.instagram.com/elevete_solutions/" ><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <!-- /.Social media buttons -->

          <hr>

        <!--Copyright-->
        <div class="row py-3 d-flex align-items-center">

          <!--Grid column-->
          <div class="col-md-8 col-lg-8">
            <p class="text-center text-md-left grey-text">© 2018 Copyright: <a class="text-danger" href="https://Elevetesolutions.com/"><b> Elevetesolutions.com</b></a></p>
          </div>
          <!--/Grid colum-->

        </div>
        <!--Copyright-->

      </div>

    </footer>
  <!--/.Footer-->
