{% extends 'layout.html' %}


  {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="home.css") }} ">
    <link rel="stylesheet" href="{{ url_for("static", filename="_footer.css")}}" />
  {% endblock %}


  {% block body %}
    <!--beginning of nav-bar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">

      <!--company brand logo-->
      <a class="navbar-brand logo" href="/"><img src="static/img/Elevete-logo.png" alt="c-logo"/><span style="margin: 2px;"> levete Solutions </span> </a>
      <!--/brand logo-->

      <!--navigation bar toggle-button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--/toggle-button-->

      <!--nav menu-->
      <div class="container">

        <div class="collapse navbar-collapse" id="NavMarkup">
          <ul class="navbar-nav ml-auto" style="font-size:18px;">
            <li><a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> </li>
            <li><a class="nav-item nav-link" href="#sec6">Services</a> </li>
            <li><a class="nav-item nav-link" href="#sec8">About</a> </li>
            <li><a class="nav-item nav-link" href="#_footer">Contact</a> </li>
            <li><a class="nav-item nav-link" href="/shop"><i class="fas fa-shopping-cart"></i> Shop</a> </li>
          </ul>
        </div>
        <!--/ Nav menu-->
      </div>
      <!--closure of the container-->
    </nav>
    <!--/ navigation pane -->

    <!-- section one (Home-image) -->
    <section class="sec1">

      <!--introduction text on firstImage-->
      <div class="text-center">
        <h1 class="display-3 text-secondary"> Elevete Solutions </h1>
        <h3 class="text-info display-4" style="font-size:48px;"> Limited </h3>

        <!--welcomeText-->
        <div class="container intro-text pt-4">
          <h5 class="text-light lead" style="font-size:24px;"> Explore and learn more about Elevete Solutions and our
            <br> service day orders Visit the shop to see our products on sale. <br>
            <small class="text-warning"> (Look into our thrift store for funky-urban-looks) </small></h5>
        </div>
        <!-- /welcomeText -->

        <!-- optionButtons -->
        <div class="row container-fluid pt-4">
          <div class="text-right col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class=" btn btn-lg btn-outline-light" href="#sec2" style="font-size:24px;"> Explore </button>
          </div>

          <div class="text-left col-lg-6 col-md-6 col-sm-6">
            <a class="btn btn-lg btn-outline-warning" href="/shop" style="font-size:24px;"><i class="fas fa-shopping-cart"></i> Store</a>
          </div>
        </div>
        <!-- / optionButtons -->

      </div>
      <!-- /textCenter div -->

    </section>
    <!--/.section one -->


    <!-- section two (segmented-info) -->
    <section id="sec2">

      <div class="container-fluid">
        <div class="row">
          <div class="left col-sm-6 col-md-6 col-lg-6">
            <div class="pl-5 pr-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="right col-sm-6 col-md-6 col-lg-6">
            <div class=" pl-5 pr-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.section two -->

    <!-- section four (Content) -->
    <section id="sec4">

      <div class="container text-center pt-5 pb-5">

        <p class="display-3 text-light"> Content </p>
        <!-- columnating -->
        <div class="row pt-5 pb-5">

          <!-- #1-inf Element-->
          <div class="col-lg-3 col-md-6 col-xs-12 pt-1">

            <div class="card content-justified-center-center " style="width: 17rem;">
                <div class="card-body text-center">
                  <img src="static/img/home.jpg">
                  <h4> About Us </h4>
                  <p class="pt-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </p>
                </div>
              </div>

          </div>
          <!--/ #1-inf Element -->

          <!-- #2-inf Element -->
          <div class="col-lg-3 col-md-6 col-xs-12 pt-1">
            <div class="card" style="width: 17rem;">
                <div class="card-body text-center">
                  <img class="pt-2" src="static/img/laptop images.jpg">
                  <h4> Services </h4>
                  <p class="pt-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </p>
                </div>
              </div>
          </div>
          <!--/ #2-inf Element -->

          <!-- #3-inf element -->
          <div class="col-lg-3 col-md-6 col-xs-12 pt-1">
            <div class="card" style="width: 17rem;">
                <div class="card-body text-center">
                  <img class="pt-3" src="static/img/tag.jpg">
                  <h4> Shop </h4>
                  <p class="pt-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </p>
                </div>
              </div>
          </div>
          <!-- /#3-inf element -->

          <!-- #4-inf element-->
          <div class="col-lg-3 col-md-6 col-xs-12 pt-1 ">
            <div class="card" style="width: 17rem;">
                <div class="card-body text-center">
                  <img src="static/img/notes.jpg">
                  <h4> Info </h4>
                  <p class="pt-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  </p>
                </div>
              </div>
          </div>
          <!-- /#4-inf element -->

        </div>
        <!-- /columnating -->

      </div>
      <!--/container element-->

    </section>
    <!-- /.section four -->

    <!-- section five (Carousel) -->
    <section id="sec5">
      <div class="row">
        <div class="col-sm-12">
          <!-- carousel entities -->
          <div id="my-slider" class="carousel slide" data-ride="carousel">

            <!-- indicators dot nav -->
            <ol class="carousel-indicators">
              <li data-target="#my-slider" data-slide-to="0" class="active"></li>
              <li data-target="#my-slider" data-slide-to="1"></li>
              <li data-target="#my-slider" data-slide-to="2"></li>
            </ol>

            <!-- wrapper for sliders -->
            <div class="carousel-inner" role="list-box">

              <!-- carousel wrapper section 5-a -->
              <div class="carousel-item active">
                <section id="sec5-a">
                  <div class="carousel-caption pb-5">
                    <p class="display-3"> Lorem ipsum </p>
                    <p> We make empires shake </p>
                    <p> <button href="#" type="button" class="btn btn-lg btn-outline-success mb-5 mt-4"> UBER
                    </button></p>
                  </div>
                </section>
              </div>
              <!-- /.carousel wrapper section 5-a -->

              <!-- carousel wrapper section 5-b -->
              <div class="carousel-item">
                <section id="sec5-b">
                  <div class="carousel-caption pb-5">
                    <p class="display-3"> Our Team </p>
                    <p> Fight the Best to prove your worth!! </p>
                    <p> <button href="#" type="button" class="btn btn-lg btn-outline-light mb-5 mt-4"> GAME
                    </button></p>
                  </div>
                </section>
              </div>
              <!-- /.carousel wrapper section 5-b -->

              <!-- carousel wrapper section 5-c -->
              <div class="carousel-item">
                <section id="sec5-c">
                  <div class="carousel-caption pb-5">
                    <p class="display-3"> Our Firm </p>
                    <p> Anchor your leverage into scrammage </p>
                    <p> <button href="#" type="button" class="btn btn-lg btn-outline-primary mb-5 mt-4"> GAME
                    </button></p>
                  </div>
                </section>
              </div>
              <!-- /.carousel wrapper section 5-c -->

            </div>
            <!-- /.wrappers for sliders -->
          </div>
          <!-- /.carousel -->

        </div>
        <!-- /. column specification div -->
      </div>
    </section>
    <!-- /.section five -->


    <!-- section six (Services)-->
    <section id="sec6">
      <div class="container text-center">

        <p class="display-4 text-primary pt-5"> Services</P>

        <!-- First row in (lg/md screens) -->
        <div class="row pt-4 pb-5">

          <!-- 1st serviceElement -->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Auditing</h4>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!-- 1st serviceElement -->

          <!--2nd serviceElement-->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Tenders</h4>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!--/2nd serviceElement -->

          <!--3rd serviceElement-->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Sales</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!-- /3rd serviceElement-->

         </div>
         <!-- /firstRow (lg/md-screens) -->


        <!-- second row in lg/md-screens -->
        <div class="row pb-5">

          <!--1st serviceElement-->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Title</h4>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!-- /1st serviceElement  -->

          <!--2nd ServiceElement-->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Title</h4>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!-- /2nd serviceElement -->

          <!--3rd serviceElement-->
          <div class="iconbox col-lg-4 col-md-3 col-xs-12">
            <div class="featureinfo text-center">
              <h4 class="text-danger">Title</h4>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              </p>
              <a class="btn btn-outline-primary btn-sm" href="#" role="button">View Page »</a>
            </div>
          </div>
          <!-- /3rd serviceElement (row2)-->

        </div>
        <!-- /second row in (lg/md-screens) -->

      </div>
      <!-- /container div -->
    </section>
    <!-- /.section six -->


    <!-- section seven (Testimonials)-->
    <section id="sec7">
      <div class="container text-center">
        <p class="display-4 text-danger pt-4"> <b> Testimonials </b> </p>

        <ul class="nav justify-content-center pt-4">
          <li class="nav-item"> <img class="img-round mr-5" src="static/img/prsn2img.png" alt="person1"> </li>
          <li class="nav-item"> <img class="img-round ml-5 mr-5" src="static/img/img1prsn.png" alt="person1"> </li>
          <li class="nav-item"> <img class="img-round ml-5" src="static/img/prsn2img.png" alt="person1"> </li>
        </ul>

        <span class="text-light">
          <p class=" pt-5"> Lorem Ipsum torento gracious pleassure because i know that </p>
          <p> <b> Lorem Ipsum torento </b> </p>
          <p> Copright <span class="text-primary"> <b> 2018 </b> </span> </p>
        </span>
      </div>
    </section>
    <!-- /.section seven -->


    <!-- section eight (About Us) -->
    <section id="sec8">

      <!-- Container padding -->
      <div class="container">
        <h3 class="display-4 text-info"> About us </h3>
          <hr >
          <p>Elevete Solutions was founded as an I.T. and technical consultancy company. For the major deal,
            giving advices and recommendation to companies on the kind of software and systems to install in their
            businesses.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
             aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
             <br />
             We also offer installation of the sophisticated entity on the purchase of such utilities.
            Such includes telecommunication devices and technical solutions to kick start or re-profound your business.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>

          <!-- collapsed information on about us section -->
          <div id="_moreinfo" class="collapse">
             We also offer installation of the sophisticated entity on the purchase of such utilities.
            Such includes telecommunication devices and technical solutions to kick start or re-profound your business.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            We also offer installation of the sophisticated entity on the purchase of such utilities.
           Such includes telecommunication devices and technical solutions to kick start or re-profound your business.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
           magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
           occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
           occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           We also offer installation of the sophisticated entity on the purchase of such utilities.
          Such includes telecommunication devices and technical solutions to kick start or re-profound your business.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <!-- expand toogle for the collapsed info -->
        <div class="text-center">
          <a data-toggle="collapse" data-target="#_moreinfo" class="mt-4 btn btn-default btn-xs text-secondary">More &raquo;</a>
        </div>
        <!-- /Collapse toggle -->

      </div>
      <!-- /Container padding -->

    </section>
    <!-- /.section eight -->

    {% include 'includes/_footer.html' %}
  {% endblock %}

  {% block scripts %}
    {{ super() }}
    <script src="static/js/scroll-effect.js"></script>
  {% endblock %}
